<section>
	<h1 style="padding-left:30%; padding-top:10%; font-size:60px;" >Welcome to PixHub</h1>
	<h4 style="padding-left:39%;">Manage your pictures from one single location...</h4>         
</section>