<section class="row">
	<section class="col-md-8">
   <h1 class="h1main" >STEP INTO THE SPOT LIGHT</h1>
	<h4 class=liststyle> With <span id="Focus">PIXhub</span> you can...</h4> 
	<ul class="liststyle">
		<li>Manage your pictures</li>
		<li>Uploads pictures to different social media platforms</li>
		<li>See analytics on your pictures in SMPs</li>
		<li>Instantly take down unwanted pictures from SMPs</li>
	</ul>

	<%= button_tag "GET STARTED",:class => "ctabtn btn btn-primary btn-lg" %>


	</section>
	<section class="col-md-4">
    <img src="<%= asset_path( 'social.png' ) %>" width="600" height="600" alt="image error"/>	
	</section>
    

	         
</section>

<section class="row aboutContent">
	
    

	         
</section>