<div class="row" style= "margin-top:60px;"> 

	<div class="col-md-6">
		<h1 class="h1main" >STEP INTO THE SPOT LIGHT</h1><br>
		<h4 class="liststyle center"> With <span id="Focus">PIXhub</span> you can...</h4> 

		<span class=" glyphicon glyphicon-ok pull-left liststyle" style="text-align:left; ">Manage your pictures</span><br>
		<span class=" glyphicon glyphicon-ok pull-left liststyle" style="text-align:left; ">Uploads pictures to different social media platforms</span><br>
		<span class="glyphicon glyphicon-ok pull-left liststyle" style="text-align:left; ">See analytics on your pictures in SMPs</span><br>
		<span class=" glyphicon glyphicon-ok pull-left liststyle" style="text-align:left; ">Instantly take down unwanted pictures from SMPs</span>

		<div class="row pull-left" style="color:#E4F1FE;">
			<%= link_to "GET STARTED", :register, :class => "ctabtn btn btn-lg",:style => "color:#E4F1FE; font-size 30px;>" %>
		</div>

	</div>
	<div class="col-md-6">
		<img src="<%= asset_path( 'social.png' ) %>" width="600" height="600" alt="image error"/>	
	</div>



</div>

