// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
margin: 0;
padding: 0;
background-image: image-url('bg.jpg') !important;
line-height: 30px;
text-align: center;
color: #444;
width: 100%;
margin: 0px;
padding: 20px;
background-color: #BFBFBF !important;
}
.navuser{
border:0px;
background-color:#2C3E50 !important;
height:51px;
color:#22313F !important;
padding-top:0px;
}




