@import url(http://fonts.googleapis.com/css?family=Lato:700|Lobster&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Oswald:300&subset=latin,latin-ext);



.navblock{
	border:0px;
	background-color:#2C3E50 !important;
	height:105px;
	color:#22313F !important;
	padding-top:24px;
}
.navlinkstyle{
	font-size:20px;
    color:#E4F1FE !important;
    font-family: 'Oswald', sans-serif;
}

.shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px #22313F;
	        }
.h1main{
	 
	 font-family: 'Oswald', sans-serif;
	 padding-top:100px;
	 color:#22313F;
	 font-size: 58px;
	 padding-left:0px;
	 font-weight:700;
	 margin-bottom:20px;
}	
.liststyle{
    margin-left:0;
    padding-left:0;
    margin-top:30px;
	font-size:24px;
	font-family: 'Lobster', cursive;
	font-weight:0;
	text-decoration:italics;
}
#Focus{
	font-size:36px;
}
.ctabtn{

	margin-top:20px;
	background-color:#FF0000;
    font-weight:200;
}
form{
    display:block;
	align:center;
	background-color:#E4F1FE;
}