@import url(http://fonts.googleapis.com/css?family=Lato:700|Lobster&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Oswald:300&subset=latin,latin-ext);




.navblock{
	border:0px;
	background-color:#2C3E50 !important;
	height:105px;
	color:#22313F !important;
	padding-top:24px;
}
.navlinkstyle{
	font-size:20px;
    color:#E4F1FE !important;
    font-family: 'Oswald', sans-serif;
}
.contentblock{
	color:#2C3E50;
	background-color:#fff;
}
.shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 11px 7px -7px #22313F;
	        }
.mainblock{
	height: 638px;	
	font-family: 'Lato', sans-serif;
    
}	        